<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CSS/Nav.css">
    <style>
       
    </style>

</head>

<body>
    <section id="header">
        <a class="logo" href="Home">LionSoul</a>

        <div>
            <ul id="navbar">
            
        <div>
            <ul id="navbar">
              <div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <li><a class="home" href="/">Home</a></li>
                <li><a href="/Product">Shop</a></li>
                <li><a href="/chatbot">Chatbot</a></li>

                <% if(user.Type==="admin" ){ %>
                    <li> <a href='/admin/AddminM'>Admin</a></li>
                    <% } %>
                        <li><a href="/Contact">Contact</a></li>
                        <li><a href="/user/WishList"><i id="heart" class="far fa-heart"></i></a></li>
                        <% if(user.Type==="admin" ){ %>
                            <li><a href="/user/Cart"><i class="material-icons">shop</i></a></li>
                            <% } %>
                        
                        <% if(user==="" ) { %>
                            <li> <a href='/user/Login2'>Login</a></li>
                            <% } else { %>
                                <li> <a href='/user/logout'>Logout</a></li>
                                <li class="name"> Welcome <%= user.Name %>
                                </li>
                                <% } %>
                                    <li>
                                        <!-- <input type="tex" id="Search" onkeyup="sendData(this)" value="      Search.....">
                                        <section id="SearchResult"></section> -->
                                        <div>
                                            <form action="/search" method="GET" class="search-form">
                                          <input type="text" name="query" placeholder="Search products..." />
                                          <button type="submit">Search</button>
                                          </div>
                                    </li>
        </div>
        </ul>
        </div>
    </section>
    <script>
        function sendData(e) {
            const SearchResult = document.getElementById('SearchResult');
            let match = e.value.match(/^[a-zA-z]*/);
            let match2 = e.value.match(/\s*/);
            if (match2[0] === e.value) {
                SearchResult.innerHTML = '';
                return;
            }
            if (match[0] === e.value) {
                fetch('/getproducts', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ payload: e.value })
                }).then(res => res.json()).then(data => {
                    let payload = data.payload;
                    SearchResult.innerHTML = '';
                    if(payload.length < 1){
                        SearchResult.innerHTML = '<p>No Result Found </p>';
                        return;
                    }
                    payload.forEach((item, index) => {
                        if(index > 0) SearchResult.innerHTML += '<hr>'
                        SearchResult.innerHTML += `<p>${item.name}</p>`;
                    });
                });
            }

        };
    </script>
    
</form>
</body>

</html>


