<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/CSS/Nav.css">
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#header .logo {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fffcfc;
    font-family: Serif;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fffcfc;
    transition: 0.3s ease;
}



#navbar li a:hover,
#navbar li a.active {
    color: #eb9e10;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #eb9e10;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#heart {
    font-size: 25px;
}
li.name{
    color: #fffcfc;
    font-style: italic;
}
    </style>
    
</head>
<body>
    <section id="header">
        <a class="logo" href="Home">LionSoul</a>

        <div>
            <ul id="navbar">
                <li><a class="home" href="/">Home</a></li>
                <li><a href="Product">Shop</a></li>
              <% if(user.Type==="admin"){ %>
               <li> <a href='/AddminM'>Admin</a></li>
                <% } %>

                <li><a href="test.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="Contact">Contact</a></li>
                <li><a href="WishList"><i id="heart" class="far fa-heart"></i></a></li>
                <li><a href="Cart"><i class="material-icons">shop</i></a></li>
                <% if(user ==="" ) { %>
                   <li> <a href='/Login2'>Login</a></li>
                    <% } else { %>
                     <li> <a href='/logout'>Logout</a></li>
                     <li class="name"> Welcome <%= user.Name %></li>
                      <% } %>
                </div>
            </ul>
        </div>
    </section>
</body>
</html>
