<html lang="en">
  <head>
    <style>
      body {
        background-color: dimgrey;
      }
      h1 {
        color: #c58308;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/Nav.ejs") %>
    <div>
      <br /><br /><br /><br />
      <center><h1>so sorry,this page is not found :)</h1></center>
    </div>
  </body>
</html>
