<!DOCTYPE html>
<html>

<head>
    <title>E-commerce Admin Dashboard</title>

    <link rel="stylesheet" href="/CSS/AdminM.css">

    <style>
        /* Styles for the header, nav, main, and footer sections... */
       
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/42a3832eaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include("./partials/Nav.ejs") %>
    <header>
        <h1>E-commerce Admin Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/admin/Addmin_Users">-> Users.</a></li>
            <li><a href="/admin/Admin_Products_List">-> Products. </a></li>
            <li><a href="/admin/Admin_Message">-> Messages. </a></li>
        </ul>
    </nav>
    <main>
        <h2>Orders:</h2>
        <table>
            <thead>
                <tr>
                    <th>Orders ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Order A</td>
                    <td>Description of Product A</td>
                    <td>$10.00</td>
                    <td>
                        <button class="edit-product-btn">Edit</button>
                        <button class="delete-product-btn">Done</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Order B</td>
                    <td>Description of Product B</td>
                    <td>$20.00</td>
                    <td>
                        <button class="edit-product-btn">Edit</button>
                        <button class="done-product-btn">Done</button>
                    </td>
                </tr>
                <!-- More products... -->
            </tbody>
        </table>
    </main>
    <script src="script.js"></script>
</body>

</html>
