<html lang="en">
  <head>
 <title>error</title>
 <link rel="stylesheet" href="/CSS/err.css">
    

  </head>


<body>
  <%- include("./partials/nav.ejs") %>

    <div>
    <br /><br /><br /><br />
      <h1><%= err %></h1>
    </div>

</body>

</html>

