<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script  src="https://kit.fontawesome.com/42a3832eaa.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.tidio.co/tu1stys3qwixtipasrjnph1mwc7mgfl8.js" async></script>
    <script src="/JS/ajax.js"></script>
    <link rel="stylesheet" href="/CSS/Log.css">
    <meta charset="UTF-8" />
    
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div id="container">
      <div id="cover">
        <h1 class="sign-up">Hello, Friend!</h1>
        <p class="sign-up">
          Enter your personal details<br />
          and start a journey with us
        </p>
        <a class="button sign-up" href="#cover">Sign Up</a>
        <h1 class="sign-in">Welcome Back!</h1>
        <p class="sign-in">
          To keep connected with us please<br />
          login with your personal info
        </p>
        <br />
        <a class="button sub sign-in" href="#">Sign In</a>
      </div>
      <div id="login">
        <h1>Sign In</h1>
        <p>Use your email account:</p>
        <form action="/user/profile" method="post" id="L_in">
          <input id="l1" type="text" placeholder="userName" name="un" autocomplete="off" />
          <p class="pp" id="demo"></p>
          <input id="l2" type="password" placeholder="Password" name="pw" autocomplete="off" />
          <p class="pp" id="demo2"></p>
          <a id="forgot-pass" href="#">Forgot your password?</a><br />
          <input class="submit-btn" type="submit" onclick="" value="Sign In"/>
        </form>
      </div>
      <div id="register">
        <h1>Create Account</h1>
        <p>Use your email for registration:</p>
        <form id="Sign_Up" action="/user/signup-action" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
          <input type="text" placeholder="Name" id="un" name="un" autocomplete="off"  /><br/>
          <span id="nameerr" style="color: red;"></span><br />
          <input type="email" placeholder="Email" name="em" id="em" autocomplete="off"  /><br />
          <span id="ema" style="color: red;"></span><br/>
          <input type="hidden" name="tp" value="client">
          <input type="number" name="ph" placeholder="Phone number" autocomplete="off" required /><br/>
          <input type="password" placeholder="Password" name="pw" id="password" autocomplete="off"  /><br />
          <input type="password" placeholder="Confirm Password" id="confirmPassword" autocomplete="off"  />
          <br>
          <span id="passwordError" style="color: red;"></span><br />
          <input class="submit-btn" type="submit" value="Sign Up" />
        </form>
      </div>
    </div>
  </body>
</html>
