<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/js/ajax.js"></script>
    <script>
        function validate() {
            if (document.getElementById('result').innerHTML.includes('taken'))
                return false;
            else
                return true;
        }
    </script>

</head>
<body>
    <%- include("./partials/nav.ejs") %>
        <div>
            <h1>Sign Up</h1>
        </div>
        <div>
            <form action="/signupp-action" method="post" enctype="multipart/form-data" onsubmit="return validate()"  >
                <input type="text" name="un" id="U" placeholder="Username">
                <input type="password" name="pw" placeholder="Password">
                <input type="text" name="em" placeholder="Email">
                <input type="number" name="ph" placeholder="Phone">
                <input type="hidden" name="type" value="client">

                <input type="submit" name="submit">
            </form>
        </div>

</body>

</html>
