@@ -0,0 +1,213 @@
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/42a3832eaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3929e16ef5.js" crossorigin="anonymous"></script>
    <script src="{% static 'network/functions.js' %}"></script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/CSS/WishList.css">

</head>

<body>
    <body>
        <%- include("./partials/Nav.ejs") %>
       


        <% if (user.length> 0) { %>
            <% user.forEach(emp=> { %>
                <div class="wish">
                    <div class="products">
                        <div class="product">
                            <img src="products/product1-1.jpg">
                            <div class="product-info">
                                <h3 class="product-name"><%= emp.name %></h3>
                                <h4 class="product-price"><%= emp.id %></h4>
                                <p class="product-add"><span class="add">Add to cart</span></p>
                                <p class="product-remove">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    <span class="remove">Remove</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
              <p>There are no employees to display...</p>
              <% } %>
    </body>

</html>