
        body {
            background-color: black;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 32px;
            text-align: center;
            color: #eb9e10;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #eb9e10;
        }

        th {
            background-color: #eb9e10;
            font-weight: bold;
        }

        td {
            background-color: #fff;
        }

        tr:hover {
            color: #eb9e10;
        }
